 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="fname" class="text-light">First Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="fname" value="" placeholder="Enter First Name.." required>
        </div>
        <div class="form-group">
            <label for="lname" class="text-light">Last Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="lname" value="" placeholder="Enter Last Name.." required>
        </div>
        <div class="form-group">
            <label for="class" class="text-light">Class</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="class" value="" placeholder="Enter Class.." required>
        </div>
        <div class="form-group">
            <label for="subject" class="text-light">Subject</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="subject" value="" placeholder="Enter Subject.." required>
        </div>
        <div class="form-group">
            <label for="marks" class="text-light">Marks</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="marks" value="" placeholder="Enter Marks.." required>
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>

    </div>
</form>