@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

.search {
  width: 100%;
  position: relative;
  display: flex;
  background-image: url('/img/searchicon.png')
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  padding: 5px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  color: #9DBFAF;
  background-image: url('/img/searchicon.png')
}

.searchTerm:focus{
  color: #090a0a;
}